Beaker
FormEncode
Mako
MarkupSafe
Paste
PasteDeploy
PasteScript
Pygments
Pydns
Pylons==0.9.7
pytz
Routes
SQLAlchemy==0.6.3
Tempita
WebError
WebHelpers
WebOb==0.9.8
WebTest
decorator
dnspython
lxml
nose
python-openid
simplejson
wsgiref
